*{
    box-sizing: border-box;
    font-style: normal;
    /* line-height: 24px; */
    font-family: Arial, Helvetica, sans-serif;
}
body {
    margin: 0;
}
/* Start Menu-Header */
.container {
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
.header {
    background-image: linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(bg_header.jpg) ;
    background-size: cover;
    position: relative;
    top: 0;
    right: 0;
    left: 0;
    /* display: flex; */
    /* flex-direction: column; */
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}
.logo {
    width: 20%;
}
.logo > img{
    width: 100%;
}
.menu {
    /* padding-right: 30px; */
    /* padding-left: 160px; */
}
.menu > ul {
    display: flex;
}
.menu-list > li {
    list-style-type: none;
    padding: 15px;
    display: inline-block;
    position: relative;
}
.menu-list > li::after {
    content: '';
    width: 0%;
    height: 2px;
    background:rgb(55, 55, 105) ;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.menu-list > li:hover::after {
    width: 100%;
}

.menu-list > li > a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.find {
    display: flex;
}
.find {
    width: 10%;
    height: 30px;
    padding: 46px 0 0 0;
}
/* .icon {
    padding: 46px 0 0 42px;
} */
.find-content {
    display: none;
}
li.menu-dropdown > a{
    position: relative;
}
.menu-dropdown-head {
    display: none;
    /* position: absolute; */
    /* left: 0; */
}
.menu-dropdown:hover .menu-dropdown-head{
    display: block;
}
.menu-dropdown-content {
    list-style-type: none;
    margin-top: 1rem;
    position: absolute;
}
.menu-dropdown-content > li {
    padding: 1rem;
    background-color: white;
}
.menu-dropdown-content > li > a {
    text-decoration: none;
    width: 170px;
    display: block;
}
.menu-dropdown-content > li::after {
    content: '';
    width: 0%;
    height: 2px;
    background:rgb(55, 55, 105) ;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.menu-dropdown-content > li:hover::after {
    width: 100%;
}
/* End Menu-Header */

/* Start Text-box-Header */
.text-box{
    width: 90%;
    color: white;
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.text-box > h1 {
    font-size: 45px;
}
.text-box > p {
    margin: 10px 0 40px;
    font-size: 14px;
    color: white;
}
.line {
    width: 40%;
}
/* End  Text-box-Header */


/* Start intro-body */
.intro {
    margin: 50px 0 50px 0;
}
.intro > hr {
    width: 93%;
    border: solid #3277bc;
    margin: 1.25rem 47px 1.1875rem;
}
.intro > h1 {
    font-size: 28px;
    width: 80%;
    margin: auto 40px ;
    font-size: 28px !important;
    line-height: 1.25 !important;
    letter-spacing: 1px !important;
}
.content {
    padding: 25px 4.5% 45px 4.5%;
}
.content > h1 {
    font-size: 28px !important;
    line-height: 1.25 !important;
    letter-spacing: 1px !important;
}
.content > hr {
    width: 93%;
    border: solid #3277bc;
    margin: 1.25rem 0 1.1875rem;
}
.image {
    width: 30%;
}
section.contents .image > img {
    width: 100%;
    border-radius: 4px;
}
.content {
    width: 70%;
    padding-left: 70px;
}
.content > p {
    font-size: 18px;
    width: 100%;
    /* padding: 0 4.5%; */
}
section.slide-content {
    margin: 40px;
}
section.slide-content > .container-slide {
    background-color: #3277bc;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    border-radius: 4px;
}
.container-slide > h1 {
    color: white;
}
.container-slide > hr {
    width: 53%;
    border: solid wheat;
    margin: 1.25rem 360px  1.1875rem;
}
.container-slide > p {
    width: 80%;
    align-items: center;
    padding: 5px 0.5% 25px 14.5;
    letter-spacing: 1px;
    margin: 1.25rem 180px  1.1875rem;
    color: white;
}
/* End intro-body */

/* Start infomation-hover */
.information {
    display: grid;
    grid-template-columns: repeat(3,400px);
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 80px;
    padding-left: 80px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}
.item {
    display: grid;
    background-color: #d0ebff;
    margin: 10px;
    justify-items: left;
    align-items: start;
    grid-template-columns: repeat(2,minmax(200px,1fr));
    grid-column-gap: 16px;
    grid-row-gap: 20px;
    grid-template-columns: 100px 1fr !important;
    grid-template-rows: 1fr 20px !important;
    align-self: stretch;
    box-sizing: border-box;
    padding: 20px 30px 30px 40px;
    color: #007dc5;
    font-size: 16px;
    border-radius: 4px;
    background-color: #d0ebff;
    transition-duration: 0.3s;
    text-decoration: none;
}
.icon-main {
   font-size: 80px;
}
.icon-main > i {
    /* width: 100%; */
    font-size: 80px;
}

.text-main{
    align-items: flex-start;
    text-align: left;
    flex-direction: column;
    display: flex;
    gap: 8px;
}
.for-more {
    display: flex;
    flex-direction: row;
    grid-column: 1/ span 2;
    font-weight: 600;
}
.icon-body {
    margin: 16px 0 0 10px;
}

.information > .item:hover {
    background-color: wheat;
}
/* End infomation-hover */
/* .slide-pic > img {
    width: 100%;
    margin-bottom: 16px;
} */
/* h4 {
    margin: 0 0 8px 0;
    color: black;
} */
/* .text {
    margin-bottom: 16px;
    max-width: 300px;
    min-width: fit-content;
} */
/* .text > p {
    margin: 0;
    color: black;
    overflow: hidden;
    overflow: hidden;
} */
/* .direction {
    text-align: center;
} */
/* .direction > button {
    font-family: cursive;
    font-weight: bold;
    background-color: #638fb2;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 0.s;
    margin: 0 10px;
}
.direction > button:hover {
    background-color: #91bddf;
} */


/* Start News-body */
.formlist {
    width: 960px;
    max-width: 100%; /* cộng các phần margin width rồi nhân cho các slider muốn hiện */
    overflow: auto; /*thành phần bên trong không bị rời khỏi màn hình */
    margin:100px auto;
    /* margin-left: auto;
    margin-right: auto;
    margin:50px auto 50px; */
    scroll-behavior: smooth;
    /* scroll-snap-type: both; */
 scroll-snap-align: start;   
}
.formlist::-webkit-scrollbar {
    display: none; /* ẩn thanh scroll */
}
.list {
    display: flex;
    width: max-content;
}
.news > h1 {
    font-size: 40px;
    text-align: center;
    color: #007dc5;
}
.slider {
    border-radius: 4px;
    width: 300px;
    height: 415px;
    background-image: linear-gradient(#91bddf,#d0ebff);
    overflow: hidden;
    transition: 0.5s;
    margin: 10px;
}
.slider > a {
    text-decoration: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.slider .picture {
    /* padding: 3px 10px; */
    display: block;
    /* margin: 20px auto 10px; */
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
    /* box-shadow: 0 10px 15px #7e878d; */
}
.slider .text {
    /* padding: 15px; */
    font-family: monospace;
}
.text {
    overflow: hidden;
    height: 168px;
}
.text > h2 {
    /* margin: 0 0 12px 0; */
    color:#007dc5;
    font-size:large ;
}
.text > h4 {
    margin: 0 0 8px 0
}
.text > p {
    /* margin: 0 0 8px 0; */
    overflow: visible;
    padding-bottom: 8px;
}
/* End News-body */