
:root {
    --padding-left-mobile: 15px;
    --padding-right-mobile: 15px;
}
body {
    margin: 0;
    font-style: normal;
    font-family: Arial, Helvetica, sans-serif;
}

/* width */
::-webkit-scrollbar {
    width: 4px;
}
  /* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
   
  /* Handle */
::-webkit-scrollbar-thumb {
    background: #42658c; 
    border-radius: 10px;
}
  
  /* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #375373;
}

* {
    box-sizing: border-box;
}
ul {
    padding: 0;
}
.container {
    width: 100%;
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    justify-items: center;
}
@media screen and (max-width: 1024px)
{
    .container {
        padding: 0 35px;
    }
}
/* responsive Mobile */
@media screen and (max-width: 767px)
{
    .container {
        padding: 0 20px;
    }
}