/* Start:: Header > Nav */
.nav {
    z-index: 99;
    position: sticky;
    top: 0;
    height: 112px;
    display: flex;
    padding: 6px 0;
    background-color: #1e3550;
    transition: all 0.3s ease-out;
    /* backdrop-filter: blur(10px); */
    
}
.nav * {
    user-select: none;
}
/* .nav.slide-down {
    animation: slideDown 0.35s ease-out;
} */
.nav.hide {
    top: -100%;
}
.nav .container {
    height: 100%;
}
.nav .logo {
    width: 20%;
}
.nav .logo img {
    width: 100%;
}
.nav .menu > ul {
    display: flex;
}
.nav .menu-list > li {
    list-style-type: none;
    padding: 15px;
    display: inline-block;
    position: relative;
}
.nav .menu-list > li::after {
    content: '';
    width: 0%;
    height: 2px;
    background:wheat;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav .menu-list > li:hover::after {
    width: 100%;
}

.nav .menu-list > li > a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.nav .find {
    display: flex;
    width: 10%;
    height: 30px;
    padding: 46px 0 0 0;
}
.nav .find-content {
    display: none;
}
.nav li.menu-dropdown > a {
    position: relative;
}
.nav .menu-dropdown__head {
    display: none;
    transition: 0.5s;
}
.nav .menu-dropdown:hover .menu-dropdown__head {
    display: block;
}
@keyframes growDown {
    0% {
        transform: scaleY(0);
    }
    80% {
        transform: scaleY(1.1);
    }
    100% {
        transform: scaleY(1);
    }
}
.nav .menu-dropdown__content {
    list-style-type: none;
    margin-top: 1rem;
    position: absolute;
    transform-origin: top center;
    animation: growDown 400ms ease-in-out;
}
.nav .menu-dropdown__content::before {
    position: absolute;
    left: -1rem;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    content: "";
    background-color: #1e3550;
}
.nav .menu-dropdown__content > li {
    padding: 0.8rem;
    background-color: #1e3550;
    padding-left: 0;
}
.nav .menu-dropdown__content > li > a {
    text-decoration: none;
    width: 170px;
    display: block;
    color: white;
}
.nav .menu-dropdown__content > li::after {
    content: '';
    width: 0%;
    height: 2px;
    background:wheat;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav .menu-dropdown__content > li:hover::after {
    width: 100%;
}
/* End:: Header > Nav */
@media screen and (max-width: 1024px) {
    .nav {
        flex-direction: column;
        height: auto;
    }
    .nav .logo {
        width: 26%;
    }
    .nav.active .menuToggle::before {
        transform: rotate(45deg);
        box-shadow: 0 0 #fff;
    }
    .nav.active .menuToggle::after {
        transform: rotate(315deg);
    }
    .menu {
        position: absolute;
        width: 100%;
        top: 100px;
        left: 0;
        background-color: #1e3550;
        display: none;
    }
    .active .menu {
        display: initial;
    }
    .nav .menu-list > li::after {
        background:#1e3550;
    }
    .menu-dropdown__head {
        display: none;
    }
    .active .menu-dropdown__head {
        display: initial;
    }
    .nav .menu > ul {
        flex-direction: column;
    }
    .menu .menu-list .menu-item {
        width: 100%;

    }
    .nav li.menu-dropdown > a {
        display: flex;
    }
    .menu .menu-list .menu-item .menu-dropdown__content {
        position: relative;
        width: 100%;
    }
    .nav .menu-dropdown .dropdown-toggle::after {
        font-family: 'Font Awesome 5 Free';
        font-size: inherit;
        font-weight: 900;
        position: absolute;
        display: inline-block;
        content: '\f078';
        border: 0 none;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
        right: 0;
    }
    .menuToggle {
        position: relative;
        width: 40px;
        height: 50px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menuToggle::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: #fff;
        transform: translateY(-12px);
        box-shadow: 0 12px #fff;
    }
    .menuToggle::after {
        content: '';
        position: absolute;
        width: 100%;
        height: 3px;
        background: #fff;
        transform: translateY(12px);
    }
    .nav .menu-dropdown__content > li {
        padding-left: 30px;
    }
}

/* responsive for mobile */
@media screen and (max-width: 767px) {
    @keyframes growDown {
        0% {
            transform: scaleY(0.7);
        }
        100% {
            transform: scaleY(1);
        }
    }
    .nav {
        height: auto;
    }
    .nav .logo {
        width: 38%;
    }
    .nav .logo a {
        display: flex;
        height: 60px;
        aspect-ratio: 48/50;
    }
    .nav .logo a img {
        object-fit: cover;
        object-position: left center;
        height: 100%;
    }
    .nav .menuToggle {
        width: 30px;
    }
    .nav .menu {
        position: absolute;
        bottom: 0;
        height: 0;
        top: unset;
    }
    .nav .menu .menu-list {
        position: absolute;
        margin: 0;
        width: 100vw;
        height: calc(100vh - 72px);
        background-color: #1e3550;
        overflow-y: auto;
        padding-bottom: 70px;
    }
}