/* Start:: Header > Nav */
.nav {
    position: sticky;
    top: 0;
    height: 112px;
    display: flex;
    padding: 6px 0;
    background-color: #1e3550;
    transition: all 0.3s ease-out;
    /* backdrop-filter: blur(10px); */
    
}
/* .nav.slide-down {
    animation: slideDown 0.35s ease-out;
} */
.nav.hide {
    top: -100%;
}
.nav .container {
    height: 100%;
}
.nav .logo {
    width: 20%;
}
.nav .logo img {
    width: 100%;
}
.nav .menu > ul {
    display: flex;
}
.nav .menu-list > li {
    list-style-type: none;
    padding: 15px;
    display: inline-block;
    position: relative;
}
.nav .menu-list > li::after {
    content: '';
    width: 0%;
    height: 2px;
    background:wheat;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav .menu-list > li:hover::after {
    width: 100%;
}

.nav .menu-list > li > a {
    text-decoration: none;
    font-size: 20px;
    color: white;
}
.nav .find {
    display: flex;
    width: 10%;
    height: 30px;
    padding: 46px 0 0 0;
}
.nav .find-content {
    display: none;
}
.nav li.menu-dropdown > a{
    position: relative;
}
.nav .menu-dropdown__head {
    display: none;
}
.nav .menu-dropdown:hover .menu-dropdown__head {
    display: block;
}
.nav .menu-dropdown__content {
    list-style-type: none;
    margin-top: 1rem;
    position: absolute;
}
.nav .menu-dropdown__content::before {
    position: absolute;
    left: -1rem;
    height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
    content: "";
    background-color: #1e3550;
}
.nav .menu-dropdown__content > li {
    padding: 0.8rem;
    background-color: #1e3550;
    padding-left: 0;
}
.nav .menu-dropdown__content > li > a {
    text-decoration: none;
    width: 170px;
    display: block;
    color: white;
}
.nav .menu-dropdown__content > li::after {
    content: '';
    width: 0%;
    height: 2px;
    background:wheat;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav .menu-dropdown__content > li:hover::after {
    width: 100%;
}
/* End:: Header > Nav */

