/* Start intro-body */
.page-home .intro {
    margin: 50px 0 50px 0;
}
.page-home .intro > hr {
    width: 93%;
    border: 2px solid #3277bc;
    margin: 1.25rem 47px 1.1875rem;
}
.page-home .intro > h1 {
    font-size: 28px;
    width: 80%;
    margin: auto 40px ;
    font-size: 28px !important;
    line-height: 1.25 !important;
    letter-spacing: 1px !important;
}
/* End intro-body */

/* Star block content */
.page-home .content {
    padding: 25px 4.5% 45px 4.5%;
}
.page-home .content > h1 {
    font-size: 28px !important;
    line-height: 1.25 !important;
    letter-spacing: 1px !important;
}
.content > hr {
    width: 93%;
    border: 2px solid #3277bc;
    margin: 1.25rem 0 1.1875rem;
}
.page-home .image {
    width: 30%;
}
.page-home section.contents .image > img {
    width: 100%;
    border-radius: 4px;
}
.page-home .content {
    width: 70%;
    padding-left: 70px;
}
.page-home .content > p {
    font-size: 18px;
    width: 100%;
    padding-right: 10px;
}

@media (max-width: 767px) {
    .page-home .intro {
        margin: 35px 0;
    }
    .page-home .intro > hr {
        width: 93%;
        border: 1px solid #3277bc;
        margin: 1.25rem 1.5rem;
    }
    .page-home .intro > h1 {
        margin: auto 1.5rem ;
        font-size: 14px !important;
        letter-spacing: 0.5px !important;
    }
    .page-home .container {
        margin-left: auto;
        margin-right: auto;
        display: flex;
    }
    .page-home .contents {
        margin: 25px;
    }
    .page-home .content {
        padding: 0;
    }
    .page-home .content > h1 {
        margin: auto .5rem ;
        font-size: 14px !important;
        letter-spacing: 0.5px !important;
    }
    .content > hr {
        border: 1px solid #3277bc;
        margin: 1.25rem 0.5rem;
    }
    .page-home .content > p {
        margin: .5rem;
        font-size: 14px;
        width: 100%;
    }
}
/* End block content */


/* Start slide */
.page-home section.slide-content {
    margin: 40px;
}
.page-home section.slide-content > .container-slide {
    background-color: #3277bc;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    border-radius: 4px;
}
.page-home .container-slide > h1 {
    color: white;
}
.page-home .container-slide > hr {
    width: 60%;
    border: 2px solid wheat;
    margin: 1.25rem 360px  1.1875rem;
    border-radius: 1px;
}
.page-home .container-slide > p {
    width: 80%;
    align-items: center;
    padding: 5px 0.5% 25px 14.5;
    letter-spacing: 1px;
    margin: 1.25rem 180px  1.1875rem;
    color: white;
}
 
@media (max-width: 767px) {
    .page-home section.slide-content {
        margin: 20px;
    }
    .page-home section.slide-content > .container-slide {
        padding: 8px;
        margin-top: 10px;
    }
    .page-home .container-slide > h1 {
        font-size: 16px;
    }
    .page-home .container-slide > hr {
        margin: 1.25rem auto;
        align-items: center;
        text-align: center;
        border: 1px solid wheat;
    }
    .page-home .container-slide > p {
        width: 80%;
        font-size: 14px;
        text-align: center;
        letter-spacing: .5px;
        margin: 0 auto;
    }
}
/* End slide content */


/* Start infomation-hover */
.page-home .information {
    display: grid;
    grid-template-columns: repeat(3,400px);
    padding: 30px 30px 80px 80px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}
.page-home .item {
    display: grid;
    margin: 10px;
    grid-column-gap: 16px;
    grid-row-gap: 30px;
    grid-template-columns: 100px 1fr;
    grid-template-rows: 1fr 20px;
    padding: 20px 30px 30px 40px;
    color: #007dc5;
    font-size: 16px;
    border-radius: 4px;
    background-color: #d0ebff;
    transition-duration: 0.3s;
    text-decoration: none;
}
.page-home .icon-main {
   font-size: 80px;
}
.page-home .icon-main > i {
    font-size: 80px;
}

.page-home .text-main{
    align-items: flex-start;
    text-align: left;
    flex-direction: column;
    display: flex;
    gap: 8px;
}
.page-home .text {
    height: 0;
}
.page-home .for-more {
    display: flex;
    flex-direction: row;
    grid-column: 1/ span 2;
    font-weight: 600;
}
.page-home .for-more p {
    margin: 0;
}
.page-home .icon-body {
    margin-left: 5px;
}

.page-home .information > .item:hover {
    background-color: wheat;
}
@media (max-width: 767px) {
    .page-home .information {
        grid-template-columns: repeat(1,minmax(200px,1fr));
        padding: 10px 20px;
    }
    .page-home .item {
        grid-column-gap: 10px;
        grid-row-gap: 15px;
        grid-template-columns: 55px 1fr;
        grid-template-rows: 1fr 25px;
        background-color: #d0ebff;
        margin: 5px;
        padding: 10px 15px 15px 20px;
    }
    .page-home .icon-main {
        font-size: 40px;
    }
    .page-home .icon-main > i {
        font-size: 40px;
    }
    .page-home .text-main{
        gap: 4px;
    }
    .page-home .text {
        height: 80px !important;
    }
    .page-home .text-main h1 {
        margin: 0;
    }
}
/* End infomation-hover */


/* Start News-body */
.page-home .slide-container {
    padding-top: 0;
    padding-right: 10px;
    padding-bottom: 80px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    min-height: inherit;
}
.page-home .formlist {
    width: 1260px;
    max-width: 100%; /* cộng các phần margin width rồi nhân cho các slider muốn hiện */
    overflow: auto; /*thành phần bên trong không bị rời khỏi màn hình */
    margin: 40px auto;
    /* margin-left: auto;
    margin-right: auto;
    margin:50px auto 50px; */
    scroll-behavior: smooth;
    /* scroll-snap-type: both; */
 scroll-snap-align: start;   
}
.page-home .formlist::-webkit-scrollbar {
    display: none; /* ẩn thanh scroll */
}
.page-home .list {
    display: flex;
    width: max-content;
    gap: 20px;
}

.page-home .news > h2 {
    font-size: 40px;
    text-align: center;
    color: #007dc5;
}
.page-home .slider {
    box-sizing: border-box;
    border-radius: 4px;
    width: 400px;
    height: 500px;
    background-color: rgb(208, 235, 255);
    overflow: hidden;
    transition: 0.5s;
}
.page-home .slider > a {
    text-decoration: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.page-home .slider .picture {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
}
.page-home .text {
    height: 120px;
}
.page-home .text > h2 {
    color:#007dc5;
    font-size:large ;
}
.page-home .text > h4 {
    margin: 0 0 8px 0;
    color: black;
}
.page-home .text > p {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 1em;
    line-height: 1.2em;
    height: calc(1.2em*5);
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    display: -webkit-box !important;
    padding-bottom: 8px;
    color: black;
} 
.page-home .slide-icon {
    display: flex;
   align-items: center;
}
.page-home .slide-icon  i {
    text-align: center;
    font-weight: bold;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 0.2s;
    font-size: 1rem;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    margin:0 10px;
}
.page-home > .slide-icon  i:hover{
    background-color: #91bddf;
}


@media (max-width: 767px) {
    .page-home .formlist {
        width: 630px;
        margin: 20px 10px;
    }
    .page-home .list {
        display: flex;
        width: max-content;
        gap: 10px;
    }
    .page-home .news > h2 {
        margin-top: 40px;
        margin-bottom: 10px;
        font-size: 30px;
    }
    .page-home .slider {
        width: 310px;
        height: 400px;
    }
    .page-home .slider > a {
        padding: 10px;
    }
    .page-home .text > h4 {
        margin: 0 0 4px 0;
    }
    .page-home .text h2 {
        font-size: medium;
        margin: 10px 0;
    }
    .page-home .text > p {
        font-size: .8rem;
        line-height: 1rem;
        height: calc(0.6em*3);
        -webkit-line-clamp: 3;
        padding-bottom: 4px;
    }
    .page-home .slide-icon  i {
      display: none;
    }
}
/* End News-body */

