/* Start intro-body */
.page-home .intro {
    margin: 50px 0 50px 0;
}
.page-home .intro > hr {
    width: 93%;
    border: solid #3277bc;
    margin: 1.25rem 47px 1.1875rem;
}
.page-home .intro > h1 {
    font-size: 28px;
    width: 80%;
    margin: auto 40px ;
    font-size: 28px !important;
    line-height: 1.25 !important;
    letter-spacing: 1px !important;
}
.page-home .content {
    padding: 25px 4.5% 45px 4.5%;
}
.page-home .content > h1 {
    font-size: 28px !important;
    line-height: 1.25 !important;
    letter-spacing: 1px !important;
}
.content > hr {
    width: 93%;
    border: solid #3277bc;
    margin: 1.25rem 0 1.1875rem;
}
.page-home .image {
    width: 30%;
}
.page-home section.contents .image > img {
    width: 100%;
    border-radius: 4px;
}
.page-home .content {
    width: 70%;
    padding-left: 70px;
}
.page-home .content > p {
    font-size: 18px;
    width: 100%;
    /* padding: 0 4.5%; */
}
.page-home section.slide-content {
    margin: 40px;
}
.page-home section.slide-content > .container-slide {
    background-color: #3277bc;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    border-radius: 4px;
}
.page-home .container-slide > h1 {
    color: white;
}
.page-home .container-slide > hr {
    width: 53%;
    border: solid wheat;
    margin: 1.25rem 360px  1.1875rem;
}
.page-home .container-slide > p {
    width: 80%;
    align-items: center;
    padding: 5px 0.5% 25px 14.5;
    letter-spacing: 1px;
    margin: 1.25rem 180px  1.1875rem;
    color: white;
}
/* End intro-body */

/* Start infomation-hover */
.page-home .information {
    display: grid;
    grid-template-columns: repeat(3,400px);
    padding-top: 30px;
    padding-right: 30px;
    padding-bottom: 80px;
    padding-left: 80px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px;
}
.page-home .item {
    display: grid;
    background-color: #d0ebff;
    margin: 10px;
    justify-items: left;
    align-items: start;
    grid-template-columns: repeat(2,minmax(200px,1fr));
    grid-column-gap: 16px;
    grid-row-gap: 20px;
    grid-template-columns: 100px 1fr !important;
    grid-template-rows: 1fr 20px !important;
    align-self: stretch;
    box-sizing: border-box;
    padding: 20px 30px 30px 40px;
    color: #007dc5;
    font-size: 16px;
    border-radius: 4px;
    background-color: #d0ebff;
    transition-duration: 0.3s;
    text-decoration: none;
}
.page-home .icon-main {
   font-size: 80px;
}
.page-home .icon-main > i {
    /* width: 100%; */
    font-size: 80px;
}

.page-home .text-main{
    align-items: flex-start;
    text-align: left;
    flex-direction: column;
    display: flex;
    gap: 8px;
}
.page-home .for-more {
    display: flex;
    flex-direction: row;
    grid-column: 1/ span 2;
    font-weight: 600;
}
.page-home .icon-body {
    margin: 16px 0 0 10px;
}

.page-home .information > .item:hover {
    background-color: wheat;
}
/* End infomation-hover */
/* .slide-pic > img {
    width: 100%;
    margin-bottom: 16px;
} */
/* h4 {
    margin: 0 0 8px 0;
    color: black;
} */
/* .text {
    margin-bottom: 16px;
    max-width: 300px;
    min-width: fit-content;
} */
/* .text > p {
    margin: 0;
    color: black;
    overflow: hidden;
    overflow: hidden;
} */
/* .direction {
    text-align: center;
} */
/* .direction > button {
    font-family: cursive;
    font-weight: bold;
    background-color: #638fb2;
    border: none;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    transition: 0.s;
    margin: 0 10px;
}
.direction > button:hover {
    background-color: #91bddf;
} */


/* Start News-body */
.page-home .formlist {
    width: 960px;
    max-width: 100%; /* cộng các phần margin width rồi nhân cho các slider muốn hiện */
    overflow: auto; /*thành phần bên trong không bị rời khỏi màn hình */
    margin:100px auto;
    /* margin-left: auto;
    margin-right: auto;
    margin:50px auto 50px; */
    scroll-behavior: smooth;
    /* scroll-snap-type: both; */
 scroll-snap-align: start;   
}
.page-home .formlist::-webkit-scrollbar {
    display: none; /* ẩn thanh scroll */
}
.page-home .list {
    display: flex;
    width: max-content;
}
.page-home .news > h1 {
    font-size: 40px;
    text-align: center;
    color: #007dc5;
}
.page-home .slider {
    border-radius: 4px;
    width: 300px;
    height: 415px;
    background-image: linear-gradient(#91bddf,#d0ebff);
    overflow: hidden;
    transition: 0.5s;
    margin: 10px;
}
.page-home .slider > a {
    text-decoration: none;
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.page-home .slider .picture {
    /* padding: 3px 10px; */
    display: block;
    /* margin: 20px auto 10px; */
    width: 100%;
    object-fit: cover;
    border-radius: 4px;
    /* box-shadow: 0 10px 15px #7e878d; */
}
.page-home .slider .text {
    /* padding: 15px; */
    font-family: monospace;
}
.page-home .text {
    overflow: hidden;
    height: 168px;
}
.page-home .text > h2 {
    /* margin: 0 0 12px 0; */
    color:#007dc5;
    font-size:large ;
}
.page-home .text > h4 {
    margin: 0 0 8px 0
}
.page-home .text > p {
    /* margin: 0 0 8px 0; */
    overflow: visible;
    padding-bottom: 8px;
}
/* End News-body */

/* Start footer */
.page-home .footer {
    background-color: #d0ebff;
    display: flex;
}
.page-home .footer-logo {
    width: 20%;
}
.page-home .footer-inf {
    width: 20%;
}
.page-home .footer-contact {
    width: 20%;
}
.page-home .footer-follow {
    width: 20%;
}