/* Start title-header */
.page-contact {
    --main-header-text-box-display: none;
    --main-header-height: 70vh;
    --main-color:#415A77;
    --main-color-border: #fae5bf;
}

.title {
    padding-left: var(--padding-left-mobile);
    padding-right: var(--padding-right-mobile);
}
.title > div{
    margin-top: 15px;
}
.title > .title-h1 {
    font-size: 1.5625rem;
    border-radius: 4px;
    text-align: center;
    width: 18.125rem;
    padding: 10px;
    background-color: var(--main-color);
    color:white
}
.title > .title-line {
    margin-top: 3px;;
}
.title > .title-line > hr {
    border: solid var(--main-color);
    border-radius: 1px;
}
@media screen and (max-width: 1024px)
{
    .title > .title-h1 {
        font-size: 1rem;
        width: 12.5rem;
    }
    .title > .title-line {
        margin-top: 3px;;
    }
    .title > .title-line > hr {
        border: 1.5px solid var(--main-color);
        border-radius: 1px;
    }
}
/* End title-header */



.page-contact .border {
    border-width: 0.9375rem;
    border-style: solid;
}
.page-contact .block-intro {
    width: 100%;
}
.page-contact .back-color { 
    background-color: var(--main-color-border);
    width: 25vw;
    text-align: right;
    height: 200px;
    position: absolute;
    z-index: -2;
    border-radius: 3px;
    transition: all 0.5s ease-in-out;
    transform: translateX(-50%);
} 
.page-contact .back-color__slide-out {
    transform: translateX(0);
}

/* Start intro content */
.page-contact .block-intro {
    padding-left: var(--padding-left-mobile);
    padding-right: var(--padding-right-mobile);
}
.page-contact .block-intro .block-intro__1 {
    width: 100%;
    background-color: var(--main-color);
    color: white;
    padding: 50px 120px;
    margin: 100px 0;
    transition: all 0.7s ease-in-out;
    opacity: 0;
    transform: translateX(-5%);
    border-radius: 3px;
}
/* .page-contact .block-intro .container {
    width: 90% !important;
} */
.page-contact .block-intro .block-intro__slide-out {
    transform: translateX(0);
    opacity: 1;
}
@media screen and (max-width: 1024px) {
    .page-contact .block-intro .block-intro__1 {
        padding-left: 20px;
        padding-right: 20px;
        margin-left: 20px;
        margin-right: 20px;
    }
}
/* End intro content */

.page-contact .block-content {
    padding-left: var(--padding-left-mobile);
    padding-right: var(--padding-right-mobile);
}
.page-contact .block-content__inner {
    padding-top: 0;
    padding-right: 115px;
    padding-bottom: 0;
    padding-left: 115px;
}
.page-contact .block-content__inner__1 {
    border-color: var(--main-color-border);
    width: 90%;
    margin: 0 auto;
    padding: 100px;
    background-color: #ffffff;
    position: relative;
    z-index: 2;
}
.page-contact .block-content__inner__1 > h2 {
    color: #505050;
    width: 100%;
    text-align: center;
    font-size: 40px;
}
.page-contact .block-container {
    flex-direction: row;
    display: flex;
    margin-bottom: 100px;
}
.page-contact .block-content__inner__left {
    background-color: #ffd63c;
    padding: 4rem 5.1875rem 4rem 3.125rem;
    width: 60%;
    margin-top: 6%;
}
.page-contact .list-content > li {
    list-style-type: none;
    padding: 10px;
}
.page-contact .list-content > li > i {
    font-size: 22px;
    padding-right: 10px;
}
.page-contact .block-content__inner__right {
    margin-left: -6%;
    width: 100%;
}

.page-contact #color {
    width: 200px;
    height: 200px;
    background-color: var(--main-color);
    margin-left: 100px;
    margin-top: -50px;
    position: relative;
    z-index: 1;
    margin-bottom: -50px;
}
.page-contact .button > button {
    background-color: var(--main-color);
    color: white;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 10px 40px;
    border: none;
    align-items: center;
    display: flex;
}
.page-contact .button > button:hover {
    background-color: #67809c;
}
.page-contact .contact-item {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: flex-start;
}
.page-contact #img {
    margin-bottom: -6%;
}
.page-contact #img > img {
    width: 100%;
}
.page-contact .list-content .heading {
    font-size: 30px;
    font-weight: 600;
}
.page-contact .block-content__inner__2 {
    border-color: #c4c4c4;
    width: 80%;
    margin: 0 auto;
    padding-left: 115px;
    padding-top: 100px;
    padding-right: 115px;
    padding-bottom: 0px;
    background-color: #ffffff;
    position: relative;
    z-index: 2;
}
.page-contact .block-content__inner__2 > h2 {
    color: #505050;
    width: 100%;
    text-align: center;
    font-size: 40px;
}
.fix-color {
    background-color: #778DA9 !important; 
    color: white;
}
@media screen and (max-width: 1024px) {
    .page-contact .border {
        border-width: 8px;
    }
    .page-contact .block-content__inner {
        padding: 0 !important;
    }
    .page-contact .block-content__inner__1 {
        width: 95%;
        padding: 80px;
    }
    .page-contact .block-container {
        flex-direction: column;
    }
    .page-contact .block-content__inner__left  {
        width: 100%;
        padding-bottom: 20px;
        padding-top: 20px
    }
    .page-contact .block-content__inner__right {
        margin-left: 0px;
        width: 100%;
    } 
    .page-contact #map {
        height: 300px;
        width: 100%;
    }
    .page-contact #map iframe {
        width: 100%;
        height: 100%;
        display: block;
    }
    .page-contact #color {
        margin-left: 0;
    }
    .page-contact .block-content__inner__2 {
        width: 95%;
        padding: 80px;
    }
    .page-contact #img {
        margin-left: 0;;
    }
}
@media screen and (max-width: 767px) {
    .page-contact .block-content__inner__1 {
        border: none;
        padding: 0;
        width: 100%;
    }
    .page-contact .block-content__inner__2 {
        border: none;
        padding: 0;
    }
    .page-contact #color {
        background-color: white;
    }
}